.our-procedures {
  .slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  .content-wraper {
    display: flex;
    margin: 0 32px;
    .slider-content {
      &:not(:last-child) {
        margin-right: 16px;
      }
      position: relative;
    }
    .slider-content-text {
      position: absolute;
      bottom: 1%;
      width: 100%;
      text-align: center;
      font-size: 22px;
      line-height: 1.18;
      color: $white-color;
    }
  }

  .slider-dots {
    display: flex;
    justify-content: center;
  }
}
